<div class="aid-filters">
  <form class="aid-filter-form" action="/filterSuggestions" method="get">
    <ul class='aid-filter-list flex-container flex-wrap'>
      <li>
        <button class='aid-filter-button' type="button" name="button" value='relevant'>Relevant</button>
      </li>
      <li>
        <button class='aid-filter-button' type="button" name="button" value='nearby'>Nearby</button>
      </li>
      <li>
        <button class='aid-filter-button' type="button" name="button" value='deliverable'>Delivarable</button>
      </li>
      <li>
        <button class='aid-filter-button' type="button" name="button" value='garden'>Garden</button>
      </li>
      <li>
        <button class='aid-filter-button' type="button" name="button" value='prepacked'>Prepacked</button>
      </li>
    </ul>
  </form>
</div>
