<section class='flex-container nav-container'>
  <nav class=''>
    <ul class='flex-container'>
      <li>
        <img class='icon' src="img/icons/house-icon.png" alt="Home">
      </li>
      <li>
        <img class='icon' src="img/icons/food-icon.png" alt="Food Aid">
      </li>
      <li>
        <img class='icon' src="img/icons/governance-icon.png" alt="Governance and Contribution">
      </li>
    </ul>
  </nav>
  <div class="under-curve">
  </div>
  <div class="right-curve">
  </div>
</section>
