<header class='flex-container flex-spread'>
  <link rel="stylesheet" href="/css/header.css">
  <button class='menu-button' type="button" name="button">
    <div class="menu-line-1 menu-line">
    </div>
    <div class="menu-line-2 menu-line">
    </div>
    <div class="menu-line-3 menu-line">
    </div>
  </button>
  <button class='menu-button' type="button" name="button">
    <img class='icon' src="/img/icons/bell.png" alt="Notifications">
  </button>
</header>
