<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('./partials/head.ejs') %>
  <body>
    <section class='main'>
      <%- include('./dashboard/header.ejs') %>

      <section class='search'>
        <form id='search' class="flex-container flex-xy-center flex-spread" action="aid/search" method="get">
          <input type="text" name="query" placeholder='How can we help?' value="">
          <button form='search' type="submit" name="submit">
            <img src="img/icons/search-icon.png" alt="Search">
          </button>
        </form>
      </section>
      <section class="suggested-aid-container">
        <div class="aid-header">
          <h2>Available Aid</h2>
          <span class='see-all'>
            <a class=href="#">See All</a>
          </span>
        </div>
        <div class="aid-filters">
          <form class="aid-filter-form" action="/filterSuggestions" method="get">
            <ul class='aid-filter-list flex-container flex-wrap'>
              <li>
                <button class='aid-filter-button' type="button" name="button" value='relevant'>Relevant</button>
              </li>
              <li>
                <button class='aid-filter-button' type="button" name="button" value='nearby'>Nearby</button>
              </li>
              <li>
                <button class='aid-filter-button' type="button" name="button" value='deliverable'>Delivarable</button>
              </li>
              <li>
                <button class='aid-filter-button' type="button" name="button" value='garden'>Garden</button>
              </li>
              <li>
                <button class='aid-filter-button' type="button" name="button" value='prepacked'>Prepacked</button>
              </li>
            </ul>
          </form>
        </div>

        <div class="suggested-aid">
          <ul class="suggested-aid-list flex-container">
            <li>
              <div class="food-card flex-container flex-column flex-spread">
                <div class="category-icon veggie">
                  <img class='category-image  icon' src="img/icons/veggie-icon.png" alt="Vegetable">
                </div>
                <div class="card-top">
                  <h3 class='food-title'>Bok Choy</h3>
                  <span class='food-expiration'>Exp: <span class='expiration-date'>1 Week</span></span>
                  <div class="food-type">
                    <img class='icon' src="img/icons/garden-icon.png" alt="Garden Grown">
                  </div>
                </div>
                <div class="card-bottom">
                  <div class="share-options">
                    <img class='walk icon' src="img/icons/carry.png" alt="Walkable">
                    <img class='delivery icon' src="img/icons/delivery-icon.png" alt="Delivery Needed">
                  </div>
                  <span class='source'>From: <span class='source-name'>Julia P.</span></span>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </section>

      <section class='in-progress'>
        <div class="in-progress header">
          <h3>Upcoming</h3>
          <span class='progress-count'>8</span>
          <span class='see-all'>
            <a href="#">See All</a>
          </span>
        </div>
        <div class="next-action">

        </div>
      </section>


      <%- include('./dashboard/footer.ejs') %>
    </section>

    <%- include('./dashboard/aside.ejs') %>
  </body>
</html>
