<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('./partials/head.ejs') %>
  <body>
    <section class='main flex-container flex-xy-center flex-column'>
      <h1>Food!</h1>
      <img src="img/icons/success-icon.png" alt="Grocery Image">
      <div class="user-action-container flex-container flex-column flex-xy-center">
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      </div>
    </section>


    <script src="js/main.js"></script>

  </body>
</html>
