<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('./partials/head.ejs') %>
  <body>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="crossorigin=""/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/opencagedata/leaflet-opencage-search@1.4.1/dist/css/L.Control.OpenCageData.Search.min.css" />

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/gh/opencagedata/leaflet-opencage-search@1.4.1/dist/js/L.Control.OpenCageSearch.min.js"></script>
    <link rel="stylesheet" href="/css/onboard.css">

    <section class='main'>
      <div class="newUserForm" action="" method="">
        <div class="opening-slide flex-container flex-column flex-xy-center slide slide-0">
          <h1>Let's get you Setup</h1>

          <h2>Who's joining us?</h2>

          <label class='tip' for="input-name">This will be the name for all your posts</label>
          <input class='form-input input-field input-name' id='inputName' type="text" name="name" placeholder='Coolest name goes here' value="">

          <button class='primary-button next-slide-button' type="button" name="button">Continue</button>

        </div>
        <div class="food-pick-slide flex-container flex-column flex-xy-center slide slide-1">
          <h2>A+ Name</h2>
          <h3>What Kind of Food Are You Looking For?</h3>
          <p class='tip'>Choose as many as you want</p>
          <div class="food-options grid-container grid-3w grid-gap">
            <input id='inputVegetable' class='replace' type="checkbox" name="vegetable" value="true">
            <label for='inputVegetable' class="food-option input-field">
              <h4>Vegetables</h4>
              <img src="img/card/vegetables.png" alt="Pick Vegetables">
            </label>
            <input id='inputFruit' class='replace' type="checkbox" name="fruit" value="true">
            <label for='inputFruit' class="food-option input-field">
              <h4>Fruits</h4>
              <img src="img/card/fruit.png" alt="Pick Fruit">
            </label>
            <input id='inputGrains' class='replace' type="checkbox" name="grain" value="true">
            <label for='inputGrains' class="food-option input-field">
              <h4>Grains</h4>
              <img src="img/card/flour.png" alt="Pick Grain">
            </label>
          </div>
          <button class='primary-button next-slide-button' type="button" name="button">Continue</button>
          <a class='restart-onboard' href="/onboard">Restart</a>
          <a data-prev-slide='0' class='back-link'></a>
        </div>
        <div class="food-preference-slide flex-container flex-column flex-xy-center slide slide-2">
          <h2>Yummy!</h2>
          <h3>A few more details regarding the food</h3>
          <p class='tip'>Choose one or both</p>
          <div class="food-options grid-container grid-gap">
            <input id='inputGarden' class='replace' type="checkbox" name="garden" value="true">
            <label for='inputGarden' class="food-option input-field garden">
              <h4>Garden Grown</h4>
              <img src="img/card/plant.png" alt="Pick Garden Grown">
            </label>
            <p class='hide'>Fellow Community Members Grew These!</p>
            <input id='inputPrepacked' class='replace' type="checkbox" name="prepacked" value="true">
            <label for='inputPrepacked' class=" food-option input-field prepacked">
              <h4>Prepacked</h4>
              <img src="img/card/packaging.png" alt="Pick Prepacked">
            </label>
            <p class='hide'>This food was packed by a company and donated by a community member!</p>
          </div>
          <button class='primary-button next-slide-button' type="button" name="button">Continue</button>
          <a class='restart-onboard' href="/onboard">Restart</a>
          <a data-prev-slide='1' class='back-link'></a>
        </div>


        <div class="travel-slide slide flex-container flex-column flex-xy-center slide-3">
          <div class="prompt flash-message-container">
            <div class="flash-message-card">
              <h2>One Last Thing</h2>
              <h3>If you are able to, please list how far you're able to travel</h3>
              <p class='tip'>This will help us determine if we need to find a volunteer to help</p>
              <button class='close-flash' name="button">close</button>
              <a class='restart-onboard' href="/onboard">Restart</a>
            </div>
          </div>
          <div id='map' class="">

          </div>
          <div class="map-onboard-control flex-container flex-xy-center">
            <a data-prev-slide='2' class='back-link map-back-link float-control'></a>
            <label class='float-control-container flex-container flex-xy-center'  for="travel-radius">
              <input id='travel-radius' class='travel-radius' type="range" name="radius" value="" min='0' step='.125' max='10'>
            </label>

            <button class='next-slide-button float-control' type="button" name="button">Continue</button>
          </div>




        </div>
        <div class="process-slide slide flex-container flex-column flex-xy-center slide-4">
          <div class="">
            <h2>Well Done!</h2>
            <h3>You're all set to get started</h3>
          </div>
          <img class='balloons' src="img/card/balloons.png" alt="Celebration Balloons">
          <div class="flex-container flex-column flex-xy-center">
            <button id='onboardSubmit' class='primary-button' type="button" name="button">Let's Go!</button>
            <a class='restart-onboard' href="/onboard">Restart</a>
          </div>
          <a data-prev-slide='3' class='back-link'></a>
        </div>
      </div>
    </section>
    <script type="text/javascript" src='js/onboard.js'></script>
    <!-- Make sure you put this AFTER Leaflet's CSS -->

  </body>
</html>
