<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('./partials/head.ejs') %>
  <body>
    <link rel="stylesheet" href="/css/onboard.css">
    <section class='main'>
      <form class="newUserForm" action="" method="">
        <div class="opening-slide flex-container flex-column flex-xy-center slide">
          <h1>Let's get you Setup</h1>

          <h2>Who's joining us?</h2>

          <label for="input-name">Display Name</label>
          <input class='form-input' id='inputName' type="text" name="name" placeholder='Coolest name goes here' value="">

          <button class='primary-button next-slide-button' type="button" name="button">Continue</button>

        </div>
        <div class="food-pick-slide flex-container flex-column flex-xy-center slide">
          <h2>A+ Name</h2>
          <h3>What Kind of Food Are You Looking For?</h3>
          <p class='tip'>Choose as many as you want</p>
          <div class="food-options grid-container">
            <label class="food-option vegetable">
              <img src="img/card/vegetables.png" alt="Pick Vegetables">
              <h4>Vegetables</h4>
              <input id='inputVegetable' class='replace' type="checkbox" name="vegetable" value="true">
            </label>
            <label class="food-option fruit">
              <img src="img/card/fruit.png" alt="Pick Fruit">
              <h4>Fruits</h4>
              <input id='inputFruit' class='replace' type="checkbox" name="fruit" value="true">
            </label>
            <label class="food-option grain">
              <img src="img/card/flour.png" alt="Pick Grain">
              <h4>Grains</h4>
              <input id='inputGrains' class='replace' type="checkbox" name="grain" value="true">
            </label>
          </div>
          <button class='primary-button next-slide-button' type="button" name="button">Continue</button>
          <a class='restart-onboard' href="/onboard">Restart</a>
        </div>
        <div class="food-preference-slide flex-container flex-column flex-xy-center slide">
          <h2>Yummy!</h2>
          <h3>A few more details regarding the food</h3>
          <p>Choose one or both</p>
          <div class="food-options grid-container">
            <label class="food-option garden">
              <img src="img/card/plant.png" alt="Pick Garden Grown">
              <h4>Garden Grown</h4>
              <p>Fellow Community Members Grew These!</p>
              <input id='inputGarden' class='replace' type="checkbox" name="garden" value="true">
            </label>
            <label class="food-option prepacked">
              <img src="img/card/packaging.png" alt="Pick Prepacked">
              <h4>Prepacked</h4>
              <p>This food was packed by a company and donated by a community member!</p>
              <input id='inputPrepacked' class='replace' type="checkbox" name="prepacked" value="true">
            </label>
          </div>
          <button class='primary-button next-slide-button' type="button" name="button">Continue</button>
          <a class='restart-onboard' href="/onboard">Restart</a>
        </div>
        <div class="travel-slide slide flex-container flex-column flex-xy-center">
          <h2>One Last Thing</h2>
          <h3>If you are able to, please list how far you're able to travel</h3>
          <p>This will help us determine if we need to find a volunteer to help</p>
          <div class="food-options flex-container">
            <div class="">
              <button id='lowerDistance' class='increase-distance' type="button" name="button">-</button>
            </div>
            <div class="flex-container flex-column flex-xy-center">
              <input id='travel-setting-onboard' class='counter' type="number" name="distance" value="">
              <label for="travel-setting-onboard">mi</label>
            </div>
            <div class="">
              <button id='increaseDistance' class='increase-distance' type="button" name="button">+</button>
            </div>
          </div>
          <label for="inputAddress">Also your address</label>
          <input id='inputAddress' type="text" name="address" value="">
          <button class='primary-button next-slide-button' type="button" name="button">Continue</button>
          <a class='restart-onboard' href="/onboard">Restart</a>
        </div>
        <div class="process-slide slide flex-container flex-column flex-xy-center">
          <h2>Well Done!</h2>
          <h3>You're all set to get started</h3>
          <img src="img/card/balloons.png" alt="Celebration Balloons">
          <button id='onboardSubmit' class='primary-button' type="button" name="button">Let's Go!</button>
          <a class='restart-onboard' href="/onboard">Restart</a>
        </div>
      </form>
    </section>
    <script type="text/javascript" src='js/onboard.js'></script>
  </body>
</html>
