footer {
  transition: all .4s ease;
  position: sticky;
  bottom: 0;
  /* left: 0; */
  width: 100%;
  height: 8rem;
  /* background-color: rgba(237, 171, 171,1); */
  background-color: rgba(222, 230, 243, 1);
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
}

footer.expand {
  /* height: auto; */
  /* max-height: 100%; */
  border-radius: 0;
  height: 100%;
}

footer .new-contribution,
footer .nav-container {
  position: absolute;
  bottom: 0;
  width:100%;
}

footer .new-contribution {
  transition: all .4s ease;

  position: relative;
  align-items: flex-start;
  /* justify-content: flex-end; */
  padding-top: 0rem;
  padding: 0 2rem;

}

footer.expand .new-contribution {
  height: 30rem;
}

footer h4 {
  /* margin-bottom: 1rem; */

  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  margin: 1rem auto 2rem auto;
  transition: all .4s ease;
}

footer.expand h4{
  margin: 2rem auto;
  font-size: 2rem;
}

footer .contribute-button-container {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;

  /* background-color: rgba(237, 171, 171,1); */
  background-color: rgba(222, 230, 243, 1);

  position: absolute;
  z-index: 5;
  right: 2rem;
  top: 1.2rem;
}

footer .contribute-button {
  content: '';
  position: absolute;
  z-index: 2;
  background-color: white;
  width: 3rem;
  padding: .7rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px 0px rgba(100,100,100, .5);
}

footer img{
  width: 100%;
}

footer nav,
footer .right-curve,
footer .under-curve{
  background-color: rgba(255,255,255,1);
}

footer nav {
  padding: 1.5rem;

  height: 5rem;
  min-width: 5rem;
  border-radius: 2rem 1rem 0 0;
  flex: 1 1 20rem;

}

footer .right-curve {
  flex: 0 0 2.25rem;
  min-height: 5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 2rem;
}

footer .under-curve {
  flex: 0 0 3.5rem;
  min-height: 4rem;
  /* background-color: green; */
}


footer li {
  width: 2rem;
}

footer ul {
  justify-content:space-around;
}

/* footer li + li {
  margin-left: 3rem;
} */

footer .icon {
  width: 100%
}

footer .contribution-form {
  justify-content:space-around;
  flex: 1 1;
  height: 80%;
}

/* footer .text-field-container {
  position: relative;
}

footer .input-field {
  background-color: rgba(255, 255, 255, 0.5);
  padding: .75rem;
  border-radius: 1rem;
  border: 3px solid rgba(100,100,100,.3);
}

footer .text-field {
  width: 100%;
}

footer .text-field-header {
  position: absolute;
  left: 1rem;
  top: -1rem;
  font-size: .75rem;
} */

footer .type-selector {

}

.nav-container {
  justify-content: flex-end;
  align-items: flex-end;
}
