.menu-button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-line {
  height: 3px;
  background-color: rgb(100,100,100);
}

.menu-line-1,
.menu-line-2 {
  margin-bottom: 4px
}

.menu-line-1 {
  width: 20px;
}

.menu-line-2 {
  width: 15px;
}

.menu-line-3 {
  width: 10px;
}

.icon {
  width: 20px;
}
