.newUserForm {
  position: relative;
  overflow: hidden;
}

.newUserForm, .slide {
  height: 100%;
  width: 100%;
}

.newUserForm h4 {
  font-size: 1rem;
}

.newUserForm .tip {
  margin-bottom: 1rem;
}

.food-pick-slide .food-options {
  grid-template-columns: 1fr 1fr 1fr;
}

.food-preference-slide .food-options {
  grid-template-columns: 1fr 1fr;
}

.food-preference-slide .food-option {
  width:100%;
  height: 100%;
}

.balloons {
  width: 70%;
  margin: 0 auto;
}

.input-name {
  background-color: white;
}

.food-option {
  text-align: center;
}

.newUserForm input[type='checkbox'] {
  display: none;
}

.distance-button {

}

.process-slide {
  justify-content: space-around;
}

.restart-onboard {
  margin-top: 1rem;
}

.newUserForm input[type='checkbox']:checked + label {
  box-shadow: 0 0 1rem .5rem rgba(255,255,255,.3);
  background-color: rgb(128,223,181);
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 185, 195);
  transition: all .8s ease;
  transform-origin: 60% bottom;
}

.slide.animate {
  transform: rotate(180deg);
}

.opening-slide {
  z-index: 5;
}

.food-pick-slide {
  z-index: 4;
  padding: .5rem;
}

.food-preference-slide {
  z-index: 3;
  padding:.5rem;
}

.travel-slide {
  z-index: 2;
}

.next-slide-button {
  margin: 1rem;
}

.map-back-link {
  position:relative;
  min-width:2.5rem;
  min-height:2.5rem;
  padding: 1rem;
  left: 0;
  top: 0;
}



.map-onboard-control {
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
  justify-content: space-around;
}



#map {
  height: 100%;
  width: 100%;
  z-index: 0;
}
